<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Query Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
    <div class="container mt-5">
        <h4 class="query-title mb-3">API Result:</h4>
        <ol>
        {% for item in sql_queries[0].split('\n\n') %}
            {% set table_attrs = item.split('\n') %}
            {% set table = table_attrs[0].replace('Table:', '').split(' ', 1)[1].strip() %}
            <li>
                <strong>Table:</strong> {{ table }}<br>
                <strong>Attributes:</strong> 
                {{ table_attrs[1:] | map('trim') | join(' - ') }}
            </li>
        {% endfor %}   
        </ol>
    </div>
</body>

</html>