<!DOCTYPE html>
<html>
<head>
    <title>SQL Query Generator</title>
    <style>
        body {
            background-color: #2b2b2b;
            color: #fff;
        }
    </style>
</head>
<body>
    <form method="POST">
        <label for="host">Host:</label><br>
        <input type="text" id="host" name="host"><br>
        <label for="user">User:</label><br>
        <input type="text" id="user" name="user"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="database">Database:</label><br>
        <input type="text" id="database" name="database"><br>
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
