/* Prefer system dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
    }
}

/* If system prefers light, or doesn't specify, default to light theme */
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
    body {
        background-color: #ffffff;
        color: #000000;
        font-family: 'Arial', sans-serif;
    }
}

.container {
    max-width: 960px;
}

.form-input {
    margin-bottom: 1rem;
}

.form-input label {
    display: block;
}

.form-input input {
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.query-title {
    color: #ffd700;
    font-size: 1rem;
}

.table-responsive {
    margin-bottom: 40px;
}
